{% extends 'base.html' %}
{% block content %}

{% if ticker %}
    {{ticker}}
{% endif %}
{% if api %}
    {% if api == 'Error...' %}
        error~~~~
    {% else %}
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
            <th scope="col">key</th>
            <th scope="col">value</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in api.items %}
            <tr>
            <th scope="col">{{key}}</th>
            <td>{{value}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endif %}
{% endblock %}